-r requirements.txt
black==22.6.0
codecov==2.1.11
django-stubs==1.7.0
isort==5.7.0
mypy==0.812
pylint==2.7.2
pytest==6.2.2
pytest-asyncio==0.14.0
pytest-cov==2.11.1
pytest-django==4.1.0
pytest-mock==3.5.1
python-multipart==0.0.7
pytz==2019.3
snapshottest==0.6.0
typing-extensions==3.10.0.2
tox==3.23.1
